.app.dark {
  --bg-color: #040470;
  --inverted-bg-color: #b5b5c9;

  --primary-color: #006100;
  --inverted-primary-color: #001c8d;
  --secondary-color: #058f05;  
  --inverted-secondary-color: #1c00f2;
}
