.app.light {
  --bg-color: #b5b5c9;
  --inverted-bg-color: #040470;

  --primary-color: #001c8d;
  --inverted-primary-color: #006100;
  --secondary-color: #1c00f2;
  --inverted-secondary-color: #058f05;
}
